$fa-font-path: "/bower_components/fontawesome/fonts";

$small-range: (0em, 47.5em);
$medium-range: (47.5625em, 64em);
$large-range: (64.063em, 90em);

$lightBlue: #2050A0;
$darkBlue: #334f7b;
$green: #169d86;
$yellow: #f8ab23;
$lightGrey: #e6e6e6;
$white: #ffffff;

$body-bg: $white;
$body-font-color: #444;
$body-font-family: 'Nunito', sans-serif;
$body-font-weight: 300;
$body-font-style: normal;
$body-line-height: 1.5em;